extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Tamika J. Hayes

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p Call me coder, programmer, engineer, dev. Or just Tamika. That works, too! 
          p Speaking of work, I currently work as a software engineer apprentice at Intuit. Before I made my career transition to tech, I was a nonprofit communications professional. Lucky for me, my editing skills and sharp eye for missing punctuation translate well to coding.
          p I absolutely love to learn, and I especially love to geek out about edgy computing topics (quantum computing, anyone?).

          p Here's just a small 'array' of the wonderful organizations that helped me get where I am today, and continue to help me grow: 

          ul 

            a(href='http://www.railsbridge.org/?s_tact=C43202QW', target="_blank") [ RailsBridge,
            |
            |
            |
            a(href='https://codeinplace.stanford.edu/', target="_blank") Stanford Code in Place,
            |
            |
            |
            a(href='https://teamtreehouse.com/about', target="_blank") Treehouse,
            |
            |
            |
            a(href='https://anitab.org/', target="_blank") AnitaB.org,
            |
            |
            |
            a(href='https://www.diversifytech.co/', target="_blank") Diversify Tech ]
          
      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Python

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 555-555-1234
          li email@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/tamika-hayes/') LinkedIn
        a.btn-link(href='https://github.com/TamikaHayes') GitHub
        a.btn-link(href='https://twitter.com/tamikajhayes?lang=en') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back