extends layout

block content
  div.container
    h1= `404 - Page Not Found`
    p.page-not-found-p= `Oh noes!  It looks like the page you're looking for does not exist.`

    a.home(href=`/`) Return to the Home Page

    if err

      div.page-not-found-stack
        hr
        p= `The stack trace below is provided for the benefit of developers who are finding and fixing website bugs.`
        p= `Each line contains a file path and a line number. Most of these lines will likely reference external source, library or framework files.`
        p= `A close look at the end of each line will likely reveal one or more files that the developer(s) created.`
        p= `That file and line are usually a good place to start looking for the current bug that's causing this error.`
        hr
        pre #{err.stack}